*{
    margin: 0;
    padding: 0;
}
.header{display: flex;
height: 400px;}
.header-left{
 width: 40%;
 /* background-color: aqua; */
 background-image:url(advocate.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}
.header-right{
    width: 60%;   
    background-color: rgb(126, 128, 128);
}
.right-main{
width: 80%;
    padding-left: 53px;
    padding-top: 60px;

    /* text-align: center; */
}
.right-main h1{
    font-size: 4em;
    font-family:fantasy;
}
.right-main p{
    margin: 10px;
}
.btn{
    border-radius: 25px; /* adjust the value to make the rounding more or less prominent */ 
  padding: 10px 30px; /* add some padding to the button content to make it look more spacious */
  border: none; /* remove the default button borders */
  background-color: #332b90;
}

/* ---main */
.about-section{
padding: 30px;
background-color: #332b90;

}
.about-section h1{
    text-align: center;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    padding: 40px 120px;

}
.card{
    background-color: white;
    margin: 10px;
    padding: 20px;
}
/* --------- */
.contact-section{
    background-image: url(building.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 200px;
    /* padding: 120px; */
    color: white;
    text-align: center;
    padding-bottom: 30px;
}
.contact-section > * {
    /* font-size: xx-large; */
    margin: 30px;
}
.contact-form{
background-color: white;
/* width: 50%; */
height: 100px;
margin: 0px 150px;
}
.contact-form input{
    padding: 12px;
    margin: 28px 5px;
}
.aform{
    background-color: rgb(207, 207, 207);
    width: 248px;
}
.form-btn{
    background-color: #332b90;
    color: white;
    width: 90px;
    
}
.contact-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.card2{
    background-color: #332b90;
    padding: 41px 80px 41px 11px;
    width: 189px;
}
.card2 > h3{
    padding: 11px;
}
/* footer */
.footer{
    height: 89px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(63, 61, 61);
}